body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



/* forms */
.form-row {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.form-label {
  display: block;
  margin-bottom: 5px;
  color: #2b2e2f;
  font-size: 14px;
}

.form-row input {
  width: 100%;
  border: 1px solid #c3c4c4;
  color: #2b2e2f;
  padding: 10px;
  outline: none;
}